
// Authorized and imposed colors
$light_greenish_blue    : #55EFC4;
$mint_feaf              : #00B894;
$sour_lemon             : #FFEAA7;
$bright_yarrow          : #FDCB6E;

$faded_poster           : #81ECEC;
$robins_egg_blue        : #00CEC9;
$first_date             : #FAB1A0;
$orangeville            : #E17055;

$green_derner_tail      : #74B9FF;
$electron_Blue          : #0984E3;
$pink_Glamour           : #FF7675;
$chi_Gong               : #D63031;

$shy_moment             : #A29BFE;
$exodus_Fruit           : #6C5CE7;
$pico_Pink              : #FD79A8;
$prunus_Avium           : #E84393;

$white                  : #f9FAFA;
$city_Lights            : #DFE6E9;
$soothing_Breeze        : #B2BEC3;
$american_River         : #636E72;
$dracula_Orchid         : #2D3436;
$black                  : #111314;